/*Letter spacing A styles*/

.mw-ls-a {
    letter-spacing: 0.025em
  }
  .mw-ls-a h1 {
    letter-spacing: 0.025em
  }
  .mw-ls-a h2 {
    letter-spacing: 0.025em
  }
  .mw-ls-a h3 {
    letter-spacing: 0.025em
  }
  .mw-ls-a h4 {
    letter-spacing: 0.025em
  }
  .mw-ls-a h5 {
    letter-spacing: 0.025em
  }
  .mw-ls-a h6 {
    letter-spacing: 0.025em
  }
  .mw-ls-a p {
    letter-spacing: 0.025em
  }
  .mw-ls-a span {
    letter-spacing: 0.025em
  }
  .mw-ls-a a {
    letter-spacing: 0.025em
  }
  .mw-ls-a label {
    letter-spacing: 0.025em
  }
  .mw-ls-a legend {
    letter-spacing: 0.025em
  }
  
  /*Letter spacing B styles*/
  
  .mw-ls-b {
  letter-spacing: 0.05em;
  }
  .mw-ls-b h1 {
  letter-spacing: 0.05em;
  }
  .mw-ls-b h2 {
  letter-spacing: 0.05em;
  }
  .mw-ls-b h3 {
  letter-spacing: 0.05em;
  }
  .mw-ls-b h4 {
  letter-spacing: 0.05em;
  }
  .mw-ls-b h5 {
  letter-spacing: 0.05em;
  }
  .mw-ls-b h6 {
  letter-spacing: 0.05em;
  }
  .mw-ls-b p {
  letter-spacing: 0.05em;
  }
  .mw-ls-b span {
  letter-spacing: 0.05em;
  }
  .mw-ls-b a {
  letter-spacing: 0.05em;
  }
  .mw-ls-b label {
  letter-spacing: 0.05em;
  }
  .mw-ls-b legend {
  letter-spacing: 0.05em;
  }
  
  /*Letter spacing C styles*/
  
  .mw-ls-c {
    letter-spacing: 0.1em;
  }
  .mw-ls-c h1 {
    letter-spacing: 0.1em;
  }
  .mw-ls-c h2 {
    letter-spacing: 0.1em;
  }
  .mw-ls-c h3 {
    letter-spacing: 0.1em;
  }
  .mw-ls-c h4 {
    letter-spacing: 0.1em;
  }
  .mw-ls-c h5 {
    letter-spacing: 0.1em;
  }
  .mw-ls-c h6 {
    letter-spacing: 0.1em;
  }
  .mw-ls-c p {
    letter-spacing: 0.1em;
  }
  .mw-ls-c span {
    letter-spacing: 0.1em;
  }
  .mw-ls-c a {
    letter-spacing: 0.1em;
  }
  .mw-ls-c label {
    letter-spacing: 0.1em;
  }
  .mw-ls-c legend {
    letter-spacing: 0.1em;
  }
  